@import url('fonts.css');

:root {
    --base-1-color: #252525;
    --base-2-color: #ffffff;
    --base-3-color: #ff8b38;
}

* {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;

    box-sizing: border-box;
}

body {
    overflow: auto;
    background: #d8d8d8;
}


.header {
    width: 100%;
    background: var(--base-1-color);

}

.container {
    max-width: 901px;
    margin: 0 auto;
    width: 100%;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: #f5f5f7;
}
._product-table {
    padding-top: 20px;
}
.product-price__container {
    display: flex;
    flex-direction: column;
}

.search-field {
    width: 400px;
    height: 25px;
    border-style: none;
    border-radius: 3px;
    font-size: 12px;
    padding-left: 5px;
}


.basket--circle_counter {
    font-size: 9px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 15px;
    height: 15px;
    color: var(--base-2-color);
    background: var(--base-3-color);
    transform: translateY(-10px);
    border-radius: 50%
}

.amount {
    font-size: 9px;
    text-transform: lowercase;
    color: #c1c1c2;
}
.amount_sum {
    font-size: 9px;
}



/* Продукт
 */
.sort-elements {
    border-radius: 4px;
    background-color: var(--base-2-color);
}

.sort-value {
    font-size: 12px;

}
.change_value {
    cursor: pointer;
}


.wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
}
._product {
    height: 145px;
}
._sort {
    height: 20px;
    padding: 6px;

}
.product-information {
    display: flex;
    margin-top: 25px;

    border-radius: 4px;
    background-color: var(--base-2-color);
}

.product-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product--image-wrap {
    width: 175px;
    height: 115px;
    text-align: center;
}
.product_img {
    max-width: 100%;
    max-height: 100%;
}
.product--value {
    margin-left: 23px;
    display: flex;
    flex-direction: column;
    height: 97px;
}
.product_title {
    margin-bottom: 18px;
}
.product_description {
    font-size: 12px;
}
.product--information_cost {
    position: relative;
    bottom: -27px;
}
.product_cost-info {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.add-to-basket {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--base-2-color);
    width: 270px;
    height: 35px;
    background-color: var(--base-3-color);
    border-style: none;
    border-radius: 3px;
    padding: 0;
    cursor: pointer;
}
.active {
    background-color: var(--base-1-color);
}

.product-price__container:last-child {
    padding-bottom: 15px;
}
